*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}

.huddle-wrapper{
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: 470px;
    background-position-y: 5%;
    background-repeat: no-repeat;
}

.huddle-section{
    background: none;
}

.logo{
    max-width:150px;
    margin:0.5rem 0;
}

.hero-title{
    font-weight: 600;
}


.picture-img{
    max-width:350px;
}

.hero-img{
    margin:2.5rem 0;
    padding:1rem 2rem;
    left: 24px;
}

.hero-info{
    max-width:400px;
    margin:0;
    padding:0.5rem 1rem;
    left:27px;
}

.hero-btn{
    padding:0.8rem 1rem;
    margin:1rem 0;
    border-radius:20px;
    border:none;
    width:180px;
}

.socials{
    filter: brightness(0) invert(1);
    width:35px;
}

@media(min-width:990px){
    .huddle-wrapper{
        background: none;
        padding:2.5rem 0;
    }

    .huddle-section{
        background-image:url(./images/bg-desktop.svg);
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
        background-position-x:160px;
        background-repeat: no-repeat;
    }

    .picture-img{
        max-width:440px;
    }

    .logo{
        padding:2.5rem 0;
    }

    .hero-title{
        font-size: 2rem;
    }

    .hero-img{
        max-width: 650px;
        margin: 0;
        left: 0;
        bottom: 60px
    }

    .hero-info{
        margin:6.5rem 0;
    }

    .social-media{
        top:112px;
        left:260px;
        overflow:hidden;
    }
}