*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
}

.huddle-section{
    background-color: hsl(257, 40%, 49%);
}

/* .huddle-wrapper{
    padding:0 3.5rem;
} */

.hero-img{
    max-width:500px;
    padding:0 3.5rem
}

.hero-img img{
    max-width:100%;
}

.hero-info{
    max-width:400px;
}